<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>User Add</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
            </li>
            <li>
                <a ui-sref="users.list">Users</a>
            </li>
            <li>
                <strong>User Add</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<label for="login">Login</label><input id="login" type="text" ng-model="entity.login">
<label for="password">Password</label><input id="password" type="text" ng-model="entity.password">
<label for="name">Name</label><input id="name" type="text" ng-model="entity.name">
<label for="surname">Surname</label><input id="surname" type="text" ng-model="entity.surname">

<button ng-click="ctrl.submit()">submit</button>