<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Bots</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="app.home"><span>Home</span></a>
            </li>
            <li>
                <a ui-sref="app.bot.list"><span>Bots</span></a>
            </li>
            <li>
                <strong>Add bot</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="ibox float-e-margins" style="margin-top: 10px">
    <div class="ibox-title">
        <h5>Add bot trader</h5>
    </div>
    <div class="ibox-content">


    </div>
</div>