<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Time</h2>
        <ol class="breadcrumb">
            <li>
                <a><span ui-sref="app.home">Home</span></a>
            </li>
            <li>
                <strong>Time</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div>
    <div class="col-md-6">
        <div class="ibox float-e-margins" style="margin-top:10px">
            <div class="ibox-title">
                <h5>Rate time management</h5>
            </div>
            <div class="ibox-content" style="display: -webkit-box;">
                <div class="col-xs-12">
                    <button ng-if="time.rateTime > 10000" type="button" ng-click="ctrl.upRate()"
                            class="btn btn-block btn-primary">Up speed
                    </button>
                    <button ng-if="time.rateTime <= 10000" type="button"
                            class="btn btn-block btn-primary disabled">Up speed
                    </button>
                    <div class="col-xs-12 well well-sm" style="text-align: center;margin: 5px 0 10px 0;">
                        <h3>{{time.rateTime}} ms</h3>
                    </div>
                    <button type="button" ng-click="ctrl.downRate()"
                            class="btn btn-block btn-primary">Down speed
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins" style="margin-top:10px">
            <div class="ibox-title">
                <h5>Dead time management</h5>
            </div>
            <div class="ibox-content" style="display: -webkit-box;">
                <div class="col-xs-12">
                    <button ng-if="time.dealTime > 1000" type="button" ng-click="ctrl.upDeal()"
                            class="btn btn-block btn-primary">Up speed
                    </button>
                    <button ng-if="time.dealTime <= 1000" type="button"
                            class="btn btn-block btn-primary disabled">Up speed
                    </button>

                    <div class="col-xs-12 well well-sm" style="text-align: center;margin: 5px 0 10px 0;">
                        <div class="col-xs-12 well well-sm" style="text-align: center;margin: 5px 0 10px 0;">
                            <h3>{{time.dealTime}} ms</h3>
                        </div>
                    </div>
                    <button type="button" ng-click="ctrl.downDeal()"
                            class="btn btn-block btn-primary">Down speed
                    </button>
                </div>
            </div>
        </div>
    </div>